pre {
    padding: 0;

    code {
        background: none;
    }
}

code {
    font-family: "DM Mono", monospace;
    font-size: 16px;
    line-height: 1.5;
    background: var(--dark-grey);
    border-radius: 4px;
}

/* Background */
div.chroma {
    --error: var(--red);
    --operator: red;
    --keyword: #ffb48e;
    --variables: #0cf;
    --attribute: var(--yellow);
    --o: var(--grey);
    --p: var(--grey);

    padding: 24px 0;
    background-color: var(--dark-grey);
    border-radius: 8px;
    overflow-x: auto;
}
/* Error */
.chroma .err {
    color: var(--error);
}
/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}
/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    display: block;

    td:first-of-type {
        border-right: 1px solid var(--grey);
        padding-left: 16px;
        user-select: none;
    }

    td:nth-of-type(2){
        padding: 0 24px 0 15px;
    }
}
/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc;
}
/* LineNumbersTable */
.chroma .lnt {
    margin-right: 3px;
    padding: 0 7px;
    color: var(--grey);
}
/* LineNumbers */
.chroma .ln {
    color: var(--grey);
}
/* Keyword */
.chroma .k,
.chroma .keyword {
    color: #0cf;
}
/* KeywordConstant */
.chroma .kc {
    color: #0cf;
}
/* KeywordDeclaration */
.chroma .kd {
    color: var(--red);
}
/* KeywordNamespace */
.chroma .kn {
    color: #ffffff;
}
/* KeywordPseudo */
.chroma .kp {
    color: #ffffff;
}
/* KeywordReserved */
.chroma .kr {
    color: #ff7c3b;
}
/* KeywordType */
.chroma .kt {
    color: #ffffff;
}
/* NameAttribute */
.chroma .na,
.chroma .attr-value {
    color: var(--yellow);
}
/* NameBuiltin */
.chroma .nb {
    /*color: #ffffff;*/
}
/* NameTag */
.chroma .nt,
.chroma .tag {
    color: var(--variables);
}
/* LiteralDate */
.chroma .ld {
    color: #ffff00;
}
/* LiteralString */
.chroma .s,
.chroma .string {
    color: var(--red);
    /*color: #00ffff;*/
}
/* LiteralStringAffix */
.chroma .sa {
    color: var(--red);
}
/* LiteralStringBacktick */
.chroma .sb {
    color: var(--grey);
}
/* LiteralStringChar */
.chroma .sc {
    color: var(--red);
}
/* LiteralStringDelimiter */
.chroma .dl {
    color: var(--red);
}
/* LiteralStringDoc */
.chroma .sd {
    color: var(--red);
}
/* LiteralStringDouble */
.chroma .s2 {
    /*	color: #00ffff;*/
}
/* LiteralStringEscape */
.chroma .se {
    color: #00ffff;
}
/* LiteralStringHeredoc */
.chroma .sh {
    color: #00ffff;
}
/* LiteralStringInterpol */
.chroma .si {
    color: var(--grey);
    /*color: #00ffff;*/
}
/* LiteralStringOther */
.chroma .sx {
    color: #00ffff;
}
/* LiteralStringRegex */
.chroma .sr {
    color: #00ffff;
}
/* LiteralStringSingle */
.chroma .s1 {
    color: var(--red);
}
/* LiteralStringSymbol */
.chroma .ss {
    color: var(--red);
}
/* LiteralNumber */
.chroma .m {
    color: var(--red);
}
/* LiteralNumberBin */
.chroma .mb {
    color: var(--red);
}
/* LiteralNumberFloat */
.chroma .mf {
    color: var(--red);
}
/* LiteralNumberHex */
.chroma .mh {
    color: var(--red);
}
/* LiteralNumberInteger */
.chroma .mi {
    color: var(--red);
}
/* LiteralNumberIntegerLong */
.chroma .il {
    color: var(--red);
}
/* LiteralNumberOct */
.chroma .mo {
    color: var(--red);
}
/* Comment */
.chroma .c {
    color: var(--grey);
}
/* CommentHashbang */
.chroma .ch {
    color: var(--grey);
}
/* CommentMultiline */
.chroma .cm {
    color: var(--grey);
}
/* CommentSingle */
.chroma .c1 {
    color: var(--grey);
}
/* CommentSpecial */
.chroma .cs {
    color: var(--grey);
}
/* CommentPreproc */
.chroma .cp {
    color: var(--red);
}
/* CommentPreprocFile */
.chroma .cpf {
    color: #00ff00;
}
/* GenericHeading */
.chroma .gh {
}
/* GenericStrong */
.chroma .gs {
}
/* GenericSubheading */
.chroma .gu {
}
/* GenericUnderline */
.chroma .gl {
    text-decoration: underline;
}

/* Operator */
.chroma .o,
.chroma .operator {
    color: var(--o);
}

.chroma .p,
.chroma .parameter {
    color: var(--p);
}