@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}


@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Medium.ttf");
  font-weight: 500;
}