* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 20px;
}

main {
    header, footer {
        padding: 10px;
        display: flex;
        align-items: center;

        .logo {
            margin: 0 10px;
        }

        ul {
            display: flex;
            align-items: center;
            padding: 0;
            list-style: none;

            li {
                padding: 0 10px;
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        &-main {
            max-width: 800px;
        }

        .menu {
            margin: 0 20px 0 0;

            ul {
                padding: 0;
                list-style: none;
    
                li {
                    padding: 0 10px;

                    .section {
                        cursor: pointer;
                        font-weight: bold;
                    }
                }

                .hidden {
                    display: none;
                }
            }

            .active {
                font-weight: bold;
            }
        }
    }
}
