@import "reset";
@import "font";

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --grey: #7f7f7f;
    --dark-grey: #0f0f0f;
    --yellow: #ffbf00;
}

body {
    min-width: 320px;
    margin-right: calc(-100vw + 100%); /* Fix for scroll-bar jump */
    color: white;
    background: black;
    overflow-x: hidden;
}

main {
    width: 1440px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

h4, h5, h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

small {
    color: var(--grey);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

em {
    font-style: italic;
}

strong {
    font-weight: 500;
}

pre {
    margin: 12px 0;
    padding: 16px;
    background: var(--dark-grey);
    border-radius: 8px;
    overflow-x: auto;

    code {
        background: none;
    }
}

code {
    padding: 4px 6px;
    font-family: monospace;
    background: var(--dark-grey);
    border-radius: 4px;
}

a {
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;
    color: var(--yellow);
    transition: color .1s ease;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

blockquote {
    padding-left: 12px;
    border-left: 2px solid var(--grey);
}

table {
    margin: 0 auto !important;
    border: 1px solid var(--grey);
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    td, th {
        padding: 8px 12px;
        border: 1px solid var(--grey);
    }

    th {
        background: var(--dark-grey);
    }
}

sub {
    vertical-align: sub;
    font-size: small;
}

sup {
    vertical-align: super;
    font-size: small;
}

abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

kbd {
    padding: 2px 3px;
    font-size: small;
    font-weight: 500;
    background: var(--grey);
    border-radius: 4px;
}

mark {
    padding: 0 4px;
    background: var(--yellow);
    border-radius: 4px;
}

hr {
    height: 1px;
    margin: 24px 0;
    background-color: var(--grey);
    border: none;
}

header {
    height: 96px;
    width: 100%;
    min-width: 320px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    z-index: 100;
    -webkit-backface-visibility: hidden;

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -1px;
        color: white;
        white-space: nowrap;
        transition: color .1s ease;

        &:hover {
            color: var(--grey);
            text-decoration: none;
        }
    }

    ul {
        display: flex;

        li {
            margin-left: 48px;

            a {
                font-size: 16px;
                font-weight: 500;
                color: white;
                transition: color .1s ease;

                &:hover, &:focus {
                    color: var(--yellow);
                    text-decoration: none;
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        height: 64px;
    }
}

section.layout {
    min-height: calc(100vh - 192px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 256px;

    .content {
        width: 100%;
        max-width: 768px;
        flex: 1;
        margin: 0 24px;

        h1 {
            padding-bottom: 12px;
        }

        h2 {
            padding: 16px 0 8px;
        }

        h3, h4, h5, h6 {
            padding: 12px 0 8px;
        }

        p {
            margin: 8px 0;
        }

        small {
            display: block;
            padding-bottom: 12px;
        }

        & > div {
            margin: 24px 0;
        }

        li {
            line-height: 1.5;
        }
        
        ol {
            margin: 8px 0;
            padding-left: 16px;
            list-style-type: decimal;
        }
        
        ul {
            margin: 8px 0;
            padding-left: 16px;
            list-style-type: disc;
        }

        .card {
            margin: 24px 0;

            h2 {
                padding-bottom: 8px;
            }
        
            p, small {
                padding: 0;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        min-height: calc(100vh - 128px);
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;

        .menu {
            position: relative;
            top: 0;
        }

        .content {
            margin-top: 24px;
        }
    }

    @media only screen and (max-width: 512px) {
        .menu {
            max-width: 100%;
        }
    }
}

.menu {
    position: sticky;
    top: 48px;
    width: 100%;
    max-width: 256px;
    min-width: 192px;
    user-select: none;

    .search {
        position: relative;
        margin-bottom: 24px;
    
        input {
            height: 40px;
            width: 100%;
            padding: 8px 36px 8px 12px;
            border-radius: 4px;
            transition: box-shadow .1s ease;

            &:hover {
                box-shadow: 0 0 0 2px var(--grey);
            }

            &:focus {
                box-shadow: 0 0 0 2px var(--yellow);
            }
        }

        .search-clear {
            position: absolute;
            right: 12px;
            font-size: 24px;
            line-height: 40px;
            color: var(--grey);
            cursor: pointer;
        }
    
        .search-results {
            position: absolute;
            top: calc(100% + 4px);
            right: 0;
            left: 0;
            background: var(--dark-grey);
            border-radius: 4px;
            box-shadow: 0 0 0 2px rgba(127,127,127,.4);
    
            a, p {
                display: block;
                margin: 12px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
            }

            .active {
                font-weight: 400;
                color: white;
            }
        }
    }

    .section {
        display: flex;
        align-items: center;
        margin: 16px 0;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        i {
            display: block;
            height: 0;
            width: 0;

            &.close {
                margin-right: 8px;
                border-top: 4px solid white;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }

            &.open {
                margin: 0 10px 0 2px;
                border-top: 4px solid transparent;
                border-left: 4px solid white;
                border-bottom: 4px solid transparent;
            }
        }
    }

    .menu-node {
        & > ul {
            margin-left: 22px;
        }
    }

    li {
        margin: 12px 0;

        a {
            line-height: 1.5;
        }
    }

    .active, .active * {
        font-weight: 500;
    }

    .hidden {
        display: none !important;
    }
}

.breadcrumb {
    display: block;
    margin-bottom: 16px;
    line-height: 1.5;
}

nav {
    position: sticky;
    top: 48px;
    width: 100%;
    max-width: 256px;
    min-width: 192px;
    user-select: none;

    li {
        margin-bottom: 8px;
        line-height: 1.5;

        & > ul {
            margin: 8px 0 0 24px;
        }
    }

    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

@media only screen and (min-width: 512px) {
    body {
        *::-webkit-scrollbar {
            height: 16px;
            width: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            height: 64px;
            width: 64px;
            background-color: rgba(127,127,127,.5);
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            -webkit-border-radius: 8px;
        }
        
        *::-webkit-scrollbar-button {
            height: 0;
            width: 0;
            display: none;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

footer {
    height: 96px;
    width: calc(100% + 32px);
    min-width: 320px;
    max-width: calc(100% + 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -16px;
    z-index: 100;
    overflow-x: auto;

    & > *:first-child {
        padding-left: 16px;
    }

    & > *:last-child {
        padding-right: 16px;
    }

    a {
        font-weight: 500;
        line-height: 1.2;
        color: white;
        white-space: nowrap;
        transition: color .1s ease;

        &:hover,
        &:focus {
            color: var(--yellow);
            text-decoration: none;
        }
    }

    ul {
        display: flex;

        li {
            margin-left: 24px;
            white-space: nowrap;
        }
    }

    @media only screen and (max-width: 768px) {
        height: 64px;
    }
}