{{define "main"}}
    <div class="content-main">
        <h1>{{.Title}}</h1>
        <strong>{{.Date.Format "02. Jan, 2006"}}</strong>
        {{.Content}}
        
        {{range .Pages}}
            <div>
                <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
                <strong>{{.Date.Format "02. Jan, 2006"}}</strong>
                {{if .Description}}
                    <p>{{.Description}}</p>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}
