{{define "tree-node"}}
    {{$page := .page}}
    
    {{range .children}}
        {{$hasChildren := (gt (len .Pages) 0)}}

        <li class="menu-node {{if eq $page .}}active{{end}}">
            {{if .IsSection}}
                <span class="section">
                    <i class="icon"></i>
                    <a href="{{.RelPermalink}}">{{.Title}}</a>
                </span>
            {{else}}
                <a href="{{.RelPermalink}}">{{.Title}}</a>
            {{end}}

            {{if $hasChildren}}
                <ul class="{{if .IsSection}}hidden{{end}}">
                    {{template "tree-node" dict "children" .Pages "page" $page}}
                </ul>
            {{end}}
        </li>
    {{end}}
{{end}}

<div class="menu">
    {{partial "search" .}}
    {{if .Site.Home}}
        <ul>
            {{template "tree-node" dict "children" .Site.Home.Sections "page" .}}
        </ul>
    {{end}}
</div>
