{{define "tree-node"}}
    {{$page := .page}}
    
    {{range .children}}
        {{$hasChildren := (gt (len .Pages) 0)}}

        <li class="menu-node {{if eq $page .}}active{{end}}">
            {{if .IsSection}}
                <span class="section">
                    <i class="icon open"></i>
                    <a href="{{.RelPermalink}}">{{.Title}}</a>
                </span>
            {{else}}
                <span class="page">
                    <a href="{{.RelPermalink}}">{{.Title}}</a>
                </span>
            {{end}}

            {{if $hasChildren}}
                <ul>
                    {{template "tree-node" dict "children" .Pages "page" $page}}
                </ul>
            {{end}}
        </li>
    {{end}}
{{end}}

<nav id="sideBar" class="sidebar">
    <div class="logo">
        <a href="/">{{.Site.Params.title}}</a>
    </div>
    {{partial "search" .}}
    {{if .Site.Home}}
        <ul>
            {{template "tree-node" dict "children" .Site.Home.Pages "page" .}}
        </ul>
    {{end}}
    {{partial "footer" .}}
</nav>
<div class="cover"></div>
